.clock {
  margin: 0px auto;
  display: block;
  text-align: center;
  font-size: 17vw;
  color: black;
}

.date {
  margin: 0px auto;
  display: block;
  text-align: center;
  font-size: 3vw;
  color: grey;
}

.App {
  margin-top: 32px;
}